
@font-face {
  font-family: 'Exo2-Medium';
  src: url('Exo2-Medium.eot?#iefix') format('embedded-opentype'),  url('Exo2-Medium.woff') format('woff'), url('Exo2-Medium.ttf')  format('truetype'), url('Exo2-Medium.svg#Exo2-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
